select{
    width: 100%;
    padding: 8px;
    height: 2.4em;
    line-height: 2;
    border-radius: 3px;
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    option{padding: 5px;}

}

.select_error{
    width: 100%;
    padding: 8px;
    height: 2.4em;
    line-height: 2;
    border-radius: 3px;
    background-color: #f9f9f9;
    border: 1px solid red;
    option{padding: 5px;}

}